/* CSS for the view request page */
.view-request-content{
    margin-left:250px;
    margin-top:20px;
    justify-content: center;
    padding:25px;
}

.response-content{
    display: none;
}

/* The text field to enter the response */
.response-content textarea{
    white-space: pre-wrap;
    margin-top: 50px;
    width:800px;
    height: 200px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

/* Styling for all the buttons on view request and respond request pages */
.respond-button,
.submit-button,
.back-button{
    padding:7px;
    background-color: var(--base);
    color: var(--main-color);
    margin-top: 50px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    text-align: center;
}

.submit-button{
    margin-left:780px;
    margin-right:50px;
}

.response-buttons{
    display:inline-block;
}

/* Styling for all the buttons on view request and respond request pages on hover*/
.respond-button:hover,
.submit-button:hover,
.back-button:hover{
    background-color: #4436a0;
    color:white;
}

/* Styling for the description of the request displayed on view request page */
.description-content{
    font-size: smaller;
}