/* CSS for the view request page */
.view-request-content{
    margin-left:250px;
    justify-content: center;
    padding:25px;
    padding-top:100px;
}

.response-content{
    display: none;
}

/* The text field to enter the response */
.response-content textarea{
    white-space: pre-wrap;
    margin-top: 50px;
    width:800px;
    height: 200px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

/* Styling for all the buttons on view request and respond request pages */
.respond-button,
.submit-button,
.back-button{
    padding:7px;
    background-color: var(--base);
    color: var(--main-color);
    margin-top: 50px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    text-align: center;
}

.submit-button{
    margin-left:700px;
    margin-right:50px;
}

.response-buttons{
    display:inline-block;
}

/* Styling for all the buttons on view request and respond request pages on hover*/
.respond-button:hover,
.submit-button:hover,
.back-button:hover{
    background-color: var(--elements-color);
    color:white;
}

/* Styling for the description of the request displayed on view request page */
.description-content{
    font-size: smaller;
}

.author-details,
.description-container{
    display: flex;
    align-items: center;
}

.description-container{
    align-items: baseline;
}

.author-image img{
    height: 50px;
    width:50px;
    margin-right: 10px;
}
.submit-button {
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
    --main-color: #c8cee6;
    --elements-color: #4f2194;
    --base: #685bbc;
    --border: 1rem solid rgba(255, 255, 255, .3);
    --hover-element: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: .2s linear;
    padding: 7px;
    border-radius: 4px;
    border: none;
    text-align: center;
    margin-top: 20px;
    background-color: var(--elements-color);
    color: white;
    line-height: 1.1;
    cursor: pointer;
}