<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - Local Community Board</title>
    {% else %}
    <title>Local Community Board</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static',
    filename='style.css') }}">
</head>
<body>
    <div><p>Common Header for all pages will go here</p></div>
    <div>Community Board: <a href="/create-request">Create Request</a></div>
    <div>Community Board: <a href="/view-request">View Request</a></div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>