{% extends "base.html" %} {% block content %}
<!-- Link to stylesheet -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styling-css/common-elements-style.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styling-css/create-request-style.css') }}"
/>
<!-- The create request page allow user to create post content detail including the title, content and tags -->
<div class="container">
  <h1>Create a Post</h1>
  <!-- anfter the submit button is clicked, a POST request to the "/submit" URL with the form data -->
  <form id="postForm" action="/create-request" method="post">
    <label for="requestTitle">Title:</label>
    <input type="text" id="requestTitle" name="requestTitle" required /><br /><br />
    <label for="requestContent">Content:</label><br />
    <textarea
      id="requestContent"
      name="requestContent"
      rows="5"
      cols="50"
      required
    ></textarea
    ><br /><br />
    <label for="tags">Tags (comma-separated):</label>
    <input type="text" id="tags" name="tags"><br><br>
    <!-- link submit button to the view content page -->
    <button
      type="submit"
      class="btn btn-submit"
      value="Submit"
    >
      Submit
    </button>
  </form>
</div>
<!-- Link to js sheet -->
<script src="{{ url_for('static', filename='create-request.js')}}"></script>

{% endblock %}
