{% extends "base.html" %} 
{% block content %}
<!-- home page -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styling-css/home-page.css') }}"
/>
<div class="home-page">
  <form action="{{ url_for('search') }}" method="GET" class="search-posts">
    <div class="top-options">
      <div>
        <label for="search">
          <input required="" autocomplete="off" placeholder="Search..." id="search" type="text" name="query"/></div>
          <div><button class="search-button" type="submit">Search Posts</button></div>
          <div><button class="request-button" onclick="window.location.href = '../create-request'">Create Request</button></div>
    </div>
  </form>

  <h1 class="home-heading">The Posts</h1>
  <div id="posts">
    {% for post in posts %}
    <div class="post">
      <div class="author-details">
        <div><img
          src="/static/user-account-image/{{post.author.avatar_filename}}"
          alt="User Avatar"
          /></div>
        <div><h2>{{ post.author.user_name }}</h2></div>
      </div>
      <p>{{ post.request_title }}</p>
      <p class="view-request-link"><a href="{{ url_for('ViewRequest', request_id=post.request_id) }}">View Full Request >></a></p>
    </div>
    <hr />
    
  {% endfor %}
  </div>
</div>
{% endblock %}
