{% extends "base.html" %} {% block content %}
<!-- Display requests with the same tag -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styling-css/home-page.css') }}"
/>

<div class="search-result-container">
  <h1>Requests with tag "{{ tag }}"</h1>
  <div id="posts">
    {% for result in results %}
    <div class="post">
      <h2>{{ result.author.user_name }}</h2>
      <a href="{{ url_for('ViewRequest', request_id=result.request_id) }}"
        >{{ result.request_title }}</a
      >
      <p>{{ result.request_content }}</p>
    </div>
    <hr />
    {% endfor %}
  </div>
</div>
{% endblock %}
